<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
</head>

<body>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
			
				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You have successfully registered!</div>
				</div>
			
				<h1>Registration</h1>
				<br>	
				
				
				<form th:action="@{/registration/addrole}" method="GET">
				
					<!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger">This role already exist, try another one.</div>					
					</div>
						<input type="text" name="role" />
						<button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Add Role</button>
				</form>
					
					
				
				
				<br>
				<br>
				<form th:action="@{/registration/save}" method="POST" th:object="${registrationDto}">
					
					<div class="form-group">
						<label class="control-label" for="username">
							Username
						</label>
						<input id="username" class="form-control" th:field="*{username}" required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="password">
							Password
						</label>
						<input type="password" id="password" class="form-control" th:field="*{password}" required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="name">Roles</label><br>
						<!--  <input id="name" class="form-control" th:field="*{name}" /> 
						<input type="radio" id="role1" name="age" th:field="*{name}" value="ADMIN">
  						<label for="role1">ADMIN</label><br>
  						<input type="radio" id="role2" name="age" th:field="*{name}" value="USER">
 						<label for="role2">USER</label><br> -->
 						<!-- <ul th:each="role : ${roles}">
 							<li th:text="${role.name}" th:for="role1"></li>
 						</ul> -->
 						<div th:each="role : ${roles}">
 							<input type="radio" id="role1" th:field="*{name}" th:value="${role.name}">
  							<label for="role1" th:text="${role.name}"></label>
 						</div>
					</div>
					 
					
					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already Registered?<a th:href="@{/login}">Login here</a></span>	
					</div>
					
				</form>
			
			</div>
		</div>
	</div>
	
</body>
</html>